
BookInventorySystem/bin/Debug/BookInventorySystem.exe
BookInventorySystem/bin/Debug/BookInventorySystem.exe.config
BookInventorySystem/bin/Debug/BookInventorySystem.pdb
BookInventorySystem/bin/Debug/BookInventorySystem.vshost.exe
BookInventorySystem/bin/Debug/BookInventorySystem.vshost.exe.config
BookInventorySystem/bin/Debug/BookInventorySystem.vshost.exe.manifest
BookInventorySystem/bin/Debug/ControlzEx.dll
BookInventorySystem/bin/Debug/ControlzEx.pdb
BookInventorySystem/bin/Debug/ControlzEx.xml
BookInventorySystem/bin/Debug/Dapper.dll
BookInventorySystem/bin/Debug/Dapper.xml
BookInventorySystem/bin/Debug/DataAccessLayer.dll
BookInventorySystem/bin/Debug/DataAccessLayer.pdb
BookInventorySystem/bin/Debug/MahApps.Metro.dll
BookInventorySystem/bin/Debug/MahApps.Metro.pdb
BookInventorySystem/bin/Debug/MahApps.Metro.xml
BookInventorySystem/bin/Debug/Microsoft.Xaml.Behaviors.dll
BookInventorySystem/bin/Debug/Microsoft.Xaml.Behaviors.pdb
BookInventorySystem/bin/Debug/Microsoft.Xaml.Behaviors.xml
BookInventorySystem/obj/Debug/App.baml
BookInventorySystem/obj/Debug/App.g.cs
BookInventorySystem/obj/Debug/App.g.i.cs
BookInventorySystem/obj/Debug/BookInventorySystem.csproj.FileListAbsolute.txt
BookInventorySystem/obj/Debug/BookInventorySystem.csproj.GenerateResource.Cache
BookInventorySystem/obj/Debug/BookInventorySystem.csprojResolveAssemblyReference.cache
BookInventorySystem/obj/Debug/BookInventorySystem.exe
BookInventorySystem/obj/Debug/BookInventorySystem.g.resources
BookInventorySystem/obj/Debug/BookInventorySystem.pdb
BookInventorySystem/obj/Debug/BookInventorySystem.Properties.Resources.resources
BookInventorySystem/obj/Debug/BookInventorySystem_Content.g.i.cs
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.cache
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.i.cache
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.i.lref
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.lref
BookInventorySystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BookInventorySystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BookInventorySystem/obj/Debug/GeneratedInternalTypeHelper.g.cs
BookInventorySystem/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
BookInventorySystem/obj/Debug/MainWindow.g.i.cs
BookInventorySystem/obj/Debug/Styles.baml
BookInventorySystem/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BookInventorySystem/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BookInventorySystem/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BookInventorySystem/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
BookInventorySystem/obj/Debug/View/BookView.baml
BookInventorySystem/obj/Debug/View/BookView.g.cs
BookInventorySystem/obj/Debug/View/BookView.g.i.cs
BookInventorySystem/obj/Debug/View/CheckOutView.baml
BookInventorySystem/obj/Debug/View/CheckOutView.g.cs
BookInventorySystem/obj/Debug/View/CheckOutView.g.i.cs
BookInventorySystem/obj/Debug/View/CustomerView.baml
BookInventorySystem/obj/Debug/View/CustomerView.g.cs
BookInventorySystem/obj/Debug/View/CustomerView.g.i.cs
BookInventorySystem/obj/Debug/View/MainWindowView.baml
BookInventorySystem/obj/Debug/View/MainWindowView.g.cs
BookInventorySystem/obj/Debug/View/MainWindowView.g.i.cs
BookInventorySystem/obj/Debug/ViewModel/CustomerViewModel.g.i.cs
DataAccessLayer/bin/Debug/Dapper.dll
DataAccessLayer/bin/Debug/Dapper.xml
DataAccessLayer/bin/Debug/DataAccessLayer.dll
DataAccessLayer/bin/Debug/DataAccessLayer.pdb
DataAccessLayer/obj/Debug/DataAccessLayer.csproj.FileListAbsolute.txt
DataAccessLayer/obj/Debug/DataAccessLayer.dll
DataAccessLayer/obj/Debug/DataAccessLayer.pdb
DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataAccessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataAccessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataAccessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
