
BookInventorySystem/bin/Debug/BookInventorySystem.exe
BookInventorySystem/bin/Debug/BookInventorySystem.exe.config
BookInventorySystem/bin/Debug/BookInventorySystem.pdb
BookInventorySystem/bin/Debug/BookInventorySystem.vshost.exe
BookInventorySystem/bin/Debug/BookInventorySystem.vshost.exe.config
BookInventorySystem/bin/Debug/BookInventorySystem.vshost.exe.manifest
BookInventorySystem/bin/Debug/ControlzEx.dll
BookInventorySystem/bin/Debug/ControlzEx.pdb
BookInventorySystem/bin/Debug/ControlzEx.xml
BookInventorySystem/bin/Debug/Dapper.dll
BookInventorySystem/bin/Debug/Dapper.xml
BookInventorySystem/bin/Debug/DataAccessLayer.dll
BookInventorySystem/bin/Debug/DataAccessLayer.pdb
BookInventorySystem/bin/Debug/MahApps.Metro.dll
BookInventorySystem/bin/Debug/MahApps.Metro.pdb
BookInventorySystem/bin/Debug/MahApps.Metro.xml
BookInventorySystem/bin/Debug/Microsoft.Xaml.Behaviors.dll
BookInventorySystem/bin/Debug/Microsoft.Xaml.Behaviors.pdb
BookInventorySystem/bin/Debug/Microsoft.Xaml.Behaviors.xml
BookInventorySystem/obj/Debug/App.baml
BookInventorySystem/obj/Debug/App.g.cs
BookInventorySystem/obj/Debug/App.g.i.cs
BookInventorySystem/obj/Debug/BookInventorySystem.csproj.FileListAbsolute.txt
BookInventorySystem/obj/Debug/BookInventorySystem.csproj.GenerateResource.Cache
BookInventorySystem/obj/Debug/BookInventorySystem.csprojResolveAssemblyReference.cache
BookInventorySystem/obj/Debug/BookInventorySystem.exe
BookInventorySystem/obj/Debug/BookInventorySystem.g.resources
BookInventorySystem/obj/Debug/BookInventorySystem.pdb
BookInventorySystem/obj/Debug/BookInventorySystem.Properties.Resources.resources
BookInventorySystem/obj/Debug/BookInventorySystem_Content.g.i.cs
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.cache
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.i.cache
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.i.lref
BookInventorySystem/obj/Debug/BookInventorySystem_MarkupCompile.lref
BookInventorySystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BookInventorySystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BookInventorySystem/obj/Debug/GeneratedInternalTypeHelper.g.cs
BookInventorySystem/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
BookInventorySystem/obj/Debug/MainWindow.g.i.cs
BookInventorySystem/obj/Debug/Styles.baml
BookInventorySystem/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BookInventorySystem/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BookInventorySystem/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BookInventorySystem/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
BookInventorySystem/obj/Debug/View/BookView.baml
BookInventorySystem/obj/Debug/View/BookView.g.cs
BookInventorySystem/obj/Debug/View/BookView.g.i.cs
BookInventorySystem/obj/Debug/View/CheckOutView.baml
BookInventorySystem/obj/Debug/View/CheckOutView.g.cs
BookInventorySystem/obj/Debug/View/CheckOutView.g.i.cs
BookInventorySystem/obj/Debug/View/CustomerView.baml
BookInventorySystem/obj/Debug/View/CustomerView.g.cs
BookInventorySystem/obj/Debug/View/CustomerView.g.i.cs
BookInventorySystem/obj/Debug/View/MainWindowView.baml
BookInventorySystem/obj/Debug/View/MainWindowView.g.cs
BookInventorySystem/obj/Debug/View/MainWindowView.g.i.cs
BookInventorySystem/obj/Debug/ViewModel/CustomerViewModel.g.i.cs
DataAccessLayer/bin/Debug/Dapper.dll
DataAccessLayer/bin/Debug/Dapper.xml
DataAccessLayer/bin/Debug/DataAccessLayer.dll
DataAccessLayer/bin/Debug/DataAccessLayer.pdb
DataAccessLayer/obj/Debug/DataAccessLayer.csproj.FileListAbsolute.txt
DataAccessLayer/obj/Debug/DataAccessLayer.dll
DataAccessLayer/obj/Debug/DataAccessLayer.pdb
DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataAccessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataAccessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataAccessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DataAccessLayer/obj/Debug/DataAccessLayer.csprojResolveAssemblyReference.cache
.vs/BookInventorySystem/v14/.suo
BookInventorySystem/bin/Debug/MaterialDesignColors.dll
BookInventorySystem/bin/Debug/MaterialDesignColors.pdb
BookInventorySystem/bin/Debug/MaterialDesignThemes.Wpf.dll
BookInventorySystem/bin/Debug/MaterialDesignThemes.Wpf.pdb
BookInventorySystem/bin/Debug/MaterialDesignThemes.Wpf.xml
DataAccessLayer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DataAccessLayer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataAccessLayer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataAccessLayer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DataAccessLayer/obj/Release/DataAccessLayer.pdb
DataAccessLayer/obj/Release/DataAccessLayer.dll
DataAccessLayer/obj/Release/DataAccessLayer.csprojResolveAssemblyReference.cache
DataAccessLayer/obj/Release/DataAccessLayer.csproj.FileListAbsolute.txt
DataAccessLayer/bin/Release/DataAccessLayer.pdb
DataAccessLayer/bin/Release/DataAccessLayer.dll
DataAccessLayer/bin/Release/Dapper.xml
DataAccessLayer/bin/Release/Dapper.dll
BookInventorySystem/obj/Release/View/MessagePopUp.g.i.cs
BookInventorySystem/obj/Release/View/MessagePopUp.g.cs
BookInventorySystem/obj/Release/View/MessagePopUp.baml
BookInventorySystem/obj/Release/View/MainWindowView.g.i.cs
BookInventorySystem/obj/Release/View/MainWindowView.g.cs
BookInventorySystem/obj/Release/View/MainWindowView.baml
BookInventorySystem/obj/Release/View/CustomerView.g.i.cs
BookInventorySystem/obj/Release/View/CustomerView.g.cs
BookInventorySystem/obj/Release/View/CustomerView.baml
BookInventorySystem/obj/Release/View/CheckOutView.g.i.cs
BookInventorySystem/obj/Release/View/CheckOutView.g.cs
BookInventorySystem/obj/Release/View/CheckOutView.baml
BookInventorySystem/obj/Release/View/BookView.g.i.cs
BookInventorySystem/obj/Release/View/BookView.g.cs
BookInventorySystem/obj/Release/View/BookView.baml
BookInventorySystem/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
BookInventorySystem/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BookInventorySystem/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BookInventorySystem/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BookInventorySystem/obj/Release/Styles.baml
BookInventorySystem/obj/Release/GeneratedInternalTypeHelper.g.i.cs
BookInventorySystem/obj/Release/GeneratedInternalTypeHelper.g.cs
BookInventorySystem/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BookInventorySystem/obj/Release/BookInventorySystem_MarkupCompile.lref
BookInventorySystem/obj/Release/BookInventorySystem_MarkupCompile.i.lref
BookInventorySystem/obj/Release/BookInventorySystem_MarkupCompile.i.cache
BookInventorySystem/obj/Release/BookInventorySystem_MarkupCompile.cache
BookInventorySystem/obj/Release/BookInventorySystem.Properties.Resources.resources
BookInventorySystem/obj/Release/BookInventorySystem.pdb
BookInventorySystem/obj/Release/BookInventorySystem.g.resources
BookInventorySystem/obj/Release/BookInventorySystem.exe
BookInventorySystem/obj/Release/BookInventorySystem.csprojResolveAssemblyReference.cache
BookInventorySystem/obj/Release/BookInventorySystem.csproj.GenerateResource.Cache
BookInventorySystem/obj/Release/BookInventorySystem.csproj.FileListAbsolute.txt
BookInventorySystem/obj/Release/App.g.i.cs
BookInventorySystem/obj/Release/App.g.cs
BookInventorySystem/obj/Release/App.baml
BookInventorySystem/bin/Release/Microsoft.Xaml.Behaviors.xml
BookInventorySystem/bin/Release/Microsoft.Xaml.Behaviors.pdb
BookInventorySystem/bin/Release/Microsoft.Xaml.Behaviors.dll
BookInventorySystem/bin/Release/MaterialDesignThemes.Wpf.xml
BookInventorySystem/bin/Release/MaterialDesignThemes.Wpf.pdb
BookInventorySystem/bin/Release/MaterialDesignThemes.Wpf.dll
BookInventorySystem/bin/Release/MaterialDesignColors.pdb
BookInventorySystem/bin/Release/MaterialDesignColors.dll
BookInventorySystem/bin/Release/MahApps.Metro.xml
BookInventorySystem/bin/Release/MahApps.Metro.pdb
BookInventorySystem/bin/Release/MahApps.Metro.dll
BookInventorySystem/bin/Release/DataAccessLayer.pdb
BookInventorySystem/bin/Release/DataAccessLayer.dll
BookInventorySystem/bin/Release/Dapper.xml
BookInventorySystem/bin/Release/Dapper.dll
BookInventorySystem/bin/Release/ControlzEx.xml
BookInventorySystem/bin/Release/ControlzEx.pdb
BookInventorySystem/bin/Release/ControlzEx.dll
BookInventorySystem/bin/Release/BookInventorySystem.vshost.exe.manifest
BookInventorySystem/bin/Release/BookInventorySystem.vshost.exe.config
BookInventorySystem/bin/Release/BookInventorySystem.vshost.exe
BookInventorySystem/bin/Release/BookInventorySystem.pdb
BookInventorySystem/bin/Release/BookInventorySystem.exe.config
BookInventorySystem/bin/Release/BookInventorySystem.exe
BI_Installer/BI_Installer.isl
BI_Installer/BI_Installer.isproj
BI_Installer/BI_Installer/Express/Interm/_IsIcoRes.Exe
BI_Installer/BI_Installer/Express/SingleImage/DiskImages/DISK1/setup.exe
BI_Installer/BI_Installer/Express/SingleImage/LogFiles/7-18-2020 03-18-47 PM.txt
BI_Installer/BI_Installer/Express/SingleImage/Reports/7-18-2020 03-18-59 PM.htm
BookInventorySystem/obj/Debug/View/LoginView.baml
BookInventorySystem/obj/Debug/View/LoginView.baml
BookInventorySystem/obj/Release/View/LoginView.baml
BookInventorySystem/obj/Release/View/LoginView.g.cs
BookInventorySystem/obj/Release/View/LoginView.g.i.cs
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/0x0409.ini
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/BI_Installer.msi
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/BookInventorySystem.exe
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/BookInventorySystem.exe.config
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/ControlzEx.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/Dapper.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/DataAccessLayer.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/MahApps.Metro.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/MaterialDesignColors.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/MaterialDesignThemes.Wpf.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/Microsoft.Xaml.Behaviors.dll
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/setup.exe
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/Setup.ini
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-18-2020 10-00-51 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-18-2020 10-00-57 PM.htm
BookInventorySystem/obj/Debug/View/LoginView.g.cs
BookInventorySystem/obj/Debug/View/LoginView.g.i.cs
BookInventorySystem/obj/Debug/View/MessagePopUp.baml
BookInventorySystem/obj/Debug/View/MessagePopUp.g.cs
BookInventorySystem/obj/Debug/View/MessagePopUp.g.i.cs
BI_Installer/BI_Installer/Express/DVD-5/DiskImages/DISK1/program files/BIS/My Product Name/BILogger.dll
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-19-2020 03-09-27 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-19-2020 03-17-56 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-19-2020 04-12-46 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-19-2020 04-37-00 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-19-2020 03-09-37 PM.htm
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-19-2020 03-18-01 PM.htm
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-19-2020 04-12-53 PM.htm
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-19-2020 04-37-06 PM.htm
BILogger/bin/Debug/BILogger.dll
BILogger/bin/Debug/BILogger.pdb
BILogger/obj/Debug/BILogger.csproj.FileListAbsolute.txt
BILogger/obj/Debug/BILogger.csprojResolveAssemblyReference.cache
BILogger/obj/Debug/BILogger.dll
BILogger/obj/Debug/BILogger.pdb
BILogger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BILogger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BILogger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BILogger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BookInventorySystem/bin/Debug/BILogger.dll
BookInventorySystem/bin/Debug/BILogger.pdb
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-19-2020 07-44-47 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-19-2020 07-44-53 PM.htm
BI_Installer/BI_Installer/Express/DVD-5/LogFiles/7-19-2020 08-04-50 PM.txt
BI_Installer/BI_Installer/Express/DVD-5/Reports/7-19-2020 08-04-55 PM.htm
